__pycache__/
*.pyc
*.egg-info/
build/
dist/
.pytest_cache/
.hypothesis/
*.rpx/
r-package/..Rcheck/
r-package/*.tar.gz
.Rhistory
.RData
*.log

# R artefacts
.Rhistory
.RData
.Ruserdata
Rplot*.png
Rplots.pdf
*.Rcheck/
.ipynb_checkpoints/
.venv*/
rpython.lock
