export(rpython_worker)
export(rpx_encode)
export(rpx_decode)
export(rpx_register_encoder)
export(rpx_register_decoder)
export(rpx_relation)
export(rpx_explain)
export(python)
export(python_start)
export(py_run)
export(py_eval)
export(py_package)
export(py_assign)
export(py_get)
export(py_install)
export(py_close)
export(py_to_r)
export(py_call)
S3method("$", rpx_pyproxy)
S3method("[[", rpx_pyproxy)
S3method(print, rpx_pyproxy)
S3method(print, rpx_pyfunction)
S3method(names, rpx_pyproxy)
S3method(as.list, rpx_pyproxy)
S3method(print, rpython_session)
importFrom(utils, capture.output, str, head, tail, methods, installed.packages, packageVersion, limitedLabels)
importFrom(stats, tsp, start, ts, setNames)
importFrom(grDevices, png, dev.off, dev.cur, dev.list)
